<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Skriv dit Login</h2>
    <form action="/submit" method="post">
        <label for="fname">Brugernavn</label>
        <input type="text" id="fname" name="fname"> <br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"> <br><br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email"> <br><br>
        <button type="submit">Log in</button>
    </form>
<p th:text="${error}">Fejlbesked</p>

</body>
</html>