<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Opret bruger</h2>

    <form th:action="@{/register}" method="post" th:object="${user}">
        <label>Brugernavn:
            <input type="text" th:field="*{username}" /></label><br>
        <label>Password:
            <input type="password" th:field="*{password}" /></label><br>
        <label>Email:
            <input type="email" th:field="*{email}" /></label><br>

        <button type="submit">Registrér</button>
        </form>
</body>
</html>